{% extends 'Layouts/layout.html' %}
{% block body%}
<div class="col-md-5 offset-md-3">
    <div class="card card-body">
        <form method="POST" action="/Update_Usuario/{{contact.Uid}}">
            <div class="mb-3">
                <input type="text" name="nombre" id="nombre" placeholder="Nombre" maxlength="200" required
                       value="{{contact.Unombre}}"
                       class="form-control">
            </div>
            <div class="mb-3">
                <input type="text" name="apellido" id="apellido" placeholder="Apellido" maxlength="200" required
                       value="{{contact.Uapellido}}"
                       class="form-control">
            </div>
            <div class="mb-3">

                <input type="email" name="correo" id="correo" value="{{contact.Ucorreo}}" maxlength="150" required
                       class="form-control">
            </div>
            <div class="mb-3">
                <input type="text" name="password" id="pasword" value="{{contact.Upassword}}" maxlength="20" required
                       class="form-control">
            </div>
            <div class="form-group mb-3">
                <select class="custom-select" name="estado" id="estado" required>
                    {% for est in estados %}
                    <option value="{{est.Corden}}" {% if est.Corden== contact.Uestado %}selected="selected" {% endif %}>{{ est.Cdescripcion }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group mb-3">
                <select class="custom-select" name="empresa" id="empresa" required>
                    <option disabled selected value>Seleccionar empresa</option>
                    {% for e in empresas %}
                    <option value="{{ e.Eid}}" {% if e.Eid == contact.Eid %}selected="selected" {% endif %}>{{e.Enombre}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-outline-primary btn-block"><i class="fas fa-user-edit fa-fw"></i> Actualizar</button>
                <a href="/Usuarios" class="btn btn-outline-secondary btn-block"><i class="far fa-arrow-alt-circle-left fa-fw"></i> Atras</a>
            </div>
        </form>
    </div>
</div>

{% endblock%}