{% extends 'Mantenimiento/EtiquetasFunciones/List.html' %}
{% block nav%}
<div class="col-md-5 offset-md-3">
    <div class="card card-body">
        <form method="POST" action="/Etiquetas-funciones/Update_funcion/{{funcion.MT_Fid}}">
            <div class="mb-3">
                <input type="text" name="MT_Fnombre" id="MT_Fnombre" placeholder="Nombre de etiqueta" maxlength="200"
                       required
                       value="{{funcion.MT_Fnombre}}"
                       class="form-control">
            </div>
            <div class="form-group mb-3">
                <select class="custom-select" name="estado" id="estado" required>
                    {% for est in estados %}
                    <option value="{{est.Corden}}" {% if est.Corden== funcion.MT_Festado %}selected="selected" {%
                            endif %}>{{ est.Cdescripcion }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-outline-primary btn-block"><i class="fas fa-edit fa-fw"></i>
                    Actualizar
                </button>
                <a href="/Etiquetas-funciones/Funciones" class="btn btn-outline-secondary btn-block"><i
                        class="far fa-arrow-alt-circle-left fa-fw"></i> Atras</a>
            </div>
        </form>
    </div>
</div>

{% endblock%}