{% extends 'Layouts/layout.html' %}
{% block body%}


<h4 style="text-align:center">Seleccione una opción</h4>
<hr>
<nav class="nav nav-pills flex-column flex-sm-row">

    <a class="flex-sm-fill text-sm-center btn btn-warning active" aria-current="page"
       href="/Etiquetas-funciones/Etiquetas"><i class="fas fa-ticket-alt fa-fw"></i> Etiquetas</a>
    <a class="flex-sm-fill text-sm-center btn btn-info" href="/Etiquetas-funciones/Funciones"><i
            class="fas fa-list-ol fa-fw"></i> Funciones</a>

</nav>
<div class="pt-4">
    {% block nav %}
    {% endblock%}
</div>
{% endblock%}