{% extends 'Layouts/layout.html' %}
{% block body%}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages%}
{% for category, message in messages%}
<div class="alert alert-dismissible alert-{{category}}">
    <button type="button" class="close" data-bs-dismiss="alert">&times;</button>
    <strong>Advertencia!</strong> {{message}}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<form method="post" action="/Mantenimiento/Asignaciones" autocomplete="off">
    <div class="row">
        <div class="form-group col-md-8">
            <select class="custom-select" name="area" id="area" required>
                <option disabled selected value>Seleccionar área</option>
                {% for datos in select%}
                <option value="{{ datos.0}}">{{datos.1}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="d-grid col-md-3">
            <button type="submit" class="btn btn-outline-primary btn-block"><i class="fas fa-search fa-fw"></i> Buscar
            </button>
        </div>
    </div>
</form>

<hr>
<div class="table-responsive" style=" height:350px">
    <table class="table table-hover" style="text-align: center">
        <thead class="">
        <tr>
            <th>Ambiente</th>
            <th>Etiqueta de trabajo</th>
            <th>Cantidad de veces trabajado</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for datos in ambientes%}
        <tr>
            <td scope="row">{{datos.1}}</td>
            <td scope="row">{{datos.2}}</td>
            <td scope="row">{{datos.3}}</td>
            <td>
                <a href="/Mantenimiento/Asignaciones/Respuesta/{{datos.0}}"
                   class="btn btn-outline-warning"><i class="fas fa-mobile-alt fa-fw"></i> Atender</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock%}