{% extends 'Layouts/layout.html' %}
{% block body%}
<h1 style="text-align: center">Gestión de áreas</h1>
<hr>
<br>
<div class="row">

    <div class="col-md-3">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages%}
        {% for category, message in messages%}
        <div class="alert alert-dismissible alert-{{category}}">
            <button type="button" class="close" data-bs-dismiss="alert">&times;</button>
            <strong>Advertencia!</strong> {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="card border-primary mb-3">
            <div class="card-header">Tarjeta de registro</div>
            <div class="card-body">
                <form method="post" action="/Mantenimiento/Registrar_MT_area" autocomplete="off">
                    <div class="form-group mb-3">
                        <select class="custom-select" name="empresa" id="empresa" required>
                            <option disabled selected value>Seleccionar empresa</option>
                            {% for e in empresas %}
                            <option value="{{ e.Eid}}">{{e.Enombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <input type="text" name="MT_Anombre" id="MT_Anombre" placeholder="Area" maxlength="200" required
                               class="form-control">
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-outline-success btn-block"><i class="far fa-plus-square fa-fw"></i>  Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card card-body">
            <h3 style="text-align: center">Listado de áreas</h3>
            <div class="table-responsive" style=" height:400px">
                <table class="table table-striped table-hover" style="text-align:center">
                    <thead>
                    <tr style="text-align:center">
                        <th>ID</th>
                        <th>Area</th>
                        <th>Estado</th>
                        <th>Fecha de creacion</th>
                        <th>Fecha de modificación</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contact in areas%}
                    <tr>
                        <td>{{contact.MT_Aid}}</td>
                        <td>{{contact.MT_Anombre}}</td>
                        <td>
                            {% if contact.MT_Aestado == 1 %}
                            Habilitado
                            {% else %}
                            Deshabilitado
                            {% endif %}
                        </td>
                        <td>{{contact.MT_Afech_crea }}</td>
                        <td>
                            {% if contact.MT_Afech_mod == None %}
                            {% else %}
                            {{contact.MT_Afech_mod}}
                            {% endif %}
                        </td>
                        <td><a href="/Mantenimiento/Editar_MT_area/{{contact.MT_Aid}}" class="btn btn-warning"><i
                                class="far fa-edit fa-fw"></i> Editar</a></td>
<!--                        <td><a href="/Eliminar_usuario/{{contact.MT_Aid}}" class="btn btn-danger btn-delete"><i-->
<!--                                class="fas fa-user-times fa-fw"></i> Eliminar</a></td>-->
                    </tr>
                    {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock%}