{% extends 'Layouts/layout.html' %}
{% block body%}
<h1 style="text-align: center">Gestión de ambientes</h1>
<hr>
<div class="row">
    <div class="col-md-6">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages%}
        {% for category, message in messages%}
        <div class="alert alert-dismissible alert-{{category}}">
            <button type="button" class="close" data-bs-dismiss="alert">&times;</button>
            <strong>Advertencia!</strong> {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="col-md-6">
        <a href="/Mantenimiento/Ambientes" class="btn btn-outline-primary"><i
                class="far fa-arrow-alt-circle-left fa-fw"></i> Atras</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        <div class="card border-primary mb-3">
            <div class="card-header">Etiquetas vinculadas</div>
            <div class="card-body">
                <div class="table-responsive" style=" height:400px">
                    <table class="table table-hover" style="text-align: center">
                        <thead class="">
                        <tr>
                            <th>ID</th>
                            <th>Función</th>
                            <th>Fecha</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for contact in vinculados%}
                        <tr>
                            <td scope="row">{{contact.MT_Eid}}</td>
                            <td>{{contact.MT_Enombre}}</td>
                            <td>{{contact.MT_Efech_crea}}</td>
                            <td>
                                <a href="/Mantenimiento/Asignaciones/Desvincular/{{id}}/{{contact.MT_AEFid}}"
                                   class="btn btn-outline-danger"><i
                                        class="far fa-trash-alt fa-fw"></i>Eliminar</a></td>
                            <!--                                class="fas fa-user-times fa-fw"></i></a></td>-->
                        </tr>
                        {% endfor%}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card border-danger mb-3">
            <div class="card-header">Etiquetas por vincular</div>
            <div class="card-body">
                <div class="table-responsive" style=" height:400px">
                    <table class="table table-hover" style="text-align: center">
                        <thead class="">
                        <tr>
                            <th>ID</th>
                            <th>Función</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for contact in pendientes%}
                        <tr>
                            <td scope="row">{{contact.MT_Eid}}</td>
                            <td>{{contact.MT_Enombre}}</td>
                            <td><a href="/Mantenimiento/Asignaciones/Vincular/{{id}}/{{contact.MT_Eid}}"
                                   class="btn btn-outline-success "><i
                                    class="fas fa-plus fa-fw"></i>Agregar</a></td>
                            <!--                                class="fas fa-user-times fa-fw"></i></a></td>-->
                        </tr>
                        {% endfor%}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}